# Prediksi dan Clustering Polusi Udara di Jakarta

## Dataset

| Kolom | Deskripsi |
|--------|-------------|
| `tanggal` | Tanggal pengambilan kualitas udara (YYYY-MM-DD) |
| `stasiun` | Stasiun pemantauan kualitas udara |
| `pm10` | Konsentrasi partikel udara yang berdiameter kurang dari 10 mikrometer (µg/m³) |
| `so2` | Konsentrasi sulfur dioksida di udara (µg/m³) |
| `co` | Konsentrasi karbon monoksida di udara (µg/m³) |
| `o3` | Konsentrasi ozon di permukaan tanah (µg/m³) |
| `no2` | Konsentrasi nitrogen dioksida di udara (µg/m³) | 
| `max` | Nilai maksimum dari konsentrasi polutan |
| `critical` | Polutan yang mencapai nilai maksimum |
| `categori` | Kategori kualitas udara berdasarkan konsentrasi polutan yang ada |

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./indeks-standar-pencemar-udara-di-spku-dataset.csv')
df.head()

      tanggal             stasiun pm10 so2  co  o3 no2   max critical categori
0  2020-01-01  DKI1 (Bunderan HI)   30  20  10  32   9  32.0       O3     BAIK
1  2020-01-02  DKI1 (Bunderan HI)   27  22  12  29   8  29.0       O3     BAIK
2  2020-01-03  DKI1 (Bunderan HI)   39  22  14  32  10  39.0     PM10     BAIK
3  2020-01-04  DKI1 (Bunderan HI)   34  22  14  38  10  38.0       O3     BAIK
4  2020-01-05  DKI1 (Bunderan HI)   35  22  12  31   9  35.0     PM10     BAIK

In [4]:
df.shape

(1830, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   1830 non-null   object
 1   stasiun   1830 non-null   object
 2   pm10      1830 non-null   object
 3   so2       1830 non-null   object
 4   co        1830 non-null   object
 5   o3        1830 non-null   object
 6   no2       1830 non-null   object
 7   max       1826 non-null   float64
 8   critical  1814 non-null   object
 9   categori  1830 non-null   object
dtypes: float64(1), object(9)
memory usage: 143.1+ KB

In [10]:
df['stasiun'].value_counts()

DKI1 (Bunderan HI)                  335
DKI3 (Jagakarsa)                    335
DKI4 (Lubang Buaya)                 335
DKI5 (Kebon Jeruk) Jakarta Barat    335
DKI2 (Kelapa Gading)                335
43                                   10
40                                    8
54                                    8
34                                    8
44                                    7
50                                    6
51                                    6
45                                    6
48                                    5
53                                    5
56                                    5
62                                    4
59                                    4
65                                    4
58                                    4
49                                    3
47                                    3
32                                    3
39                                    3
52                                    3
---                                   3
35                                    3
38                                    3
42                                    3
74                                    2
70                                    2
69                                    2
78                                    2
22                                    2
66                                    2
27                                    2
71                                    2
30                                    2
55                                    2
33                                    2
37                                    2
36                                    2
63                                    1
57                                    1
24                                    1
64                                    1
73                                    1
89                                    1
101                                   1
60                                    1
41                                    1
76                                    1
61                                    1
25                                    1
Name: stasiun, dtype: int64

In [11]:
df['critical'].value_counts()

O3      856
PM10    506
PM25    271
CO      165
SO2      15
NO2       1
Name: critical, dtype: int64